{% extends 'basemain.html' %}
{%block title%}个人信息修改{%endblock%}
{%block content%}
<h2>Here!!</h2>
<div id="app">
    <table class="table table-hover form-group">
        <thead>
            <tr>
                <th>编号</th>
                <th>项目</th>
                <th>值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>账户（不可改）</td>
                <td><span v-text="email" class="form-control"></span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>姓名</td>
                <td><input v-model="name"  class="form-control"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>出生日期</td>
                <td><input type="date" v-model="birthday"  class="form-control"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>公司</td>
                <td><input v-model="company"  class="form-control"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>工作时间</td>
                <td><input type="date" v-model="job_time"  class="form-control"></td>
            </tr>>
            <tr>
                <td>5</td>
                <td>学历</td>
                <td><input v-model="xue_li"  class="form-control"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>学校</td>
                <td><input v-model="school"  class="form-control"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>手机号</td>
                <td><input v-model="phone"  class="form-control"></td>
            </tr>
        </tbody>
    </table>
    <button @click="submit" class="btn btn-primary">保存修改</button>
</div>
{%endblock%}
