<!DOCTYPE html>
<html>

<head>
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/vue/dist/vue.js"></script>
    <script src="/static/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="/static/js/csrf.js"></script>
    <title>My first page></title>
    <script>
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">C640</a>
            </div>
            <div>
                <ul class="navbar-nav">
                    <a class="nav-link active" href="#">首页</a>
                    <a class="nav-link" href="#">待办事项</a>
                    {% if request.user.is_authenticated %}
                    <a class="nav-link" href="#">当前用户：{{request.user.name}}</a>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            个人中心
                            <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">定制工具</a>
                            <a class="dropdown-item" href="#">？</a>
                            <a class="dropdown-item" href="#">?</a>
                            <a class="divider"></a>
                            <a class="dropdown-item" href="#">修改个人信息</a>
                            <a class="divider"></a>
                            <a class="dropdown-item" href="/accounts/logout/">登出</a>
                        </div>
                    </li>
                    {%else%}
                    <a class="nav-link" href="/accounts/login/">登录</a>
                    </li>
                    <a class="nav-link" href="/accounts/register/">注册</a>
                    </li>
                    {% endif%}
                </ul>
            </div>
    </nav>
    <br>
    <div class="container container-center jumbotron">
        <div class="col-md-8 col-sm-offset-4">
            {%block content %}
            <!-- {<div id="app" class="form-group">
                <p class="form-control" v-text="aaa"></p>
                <span>Input here: </span>
                <input class="form-control" v-model="aaa">
            </div>
            Hello {{request.user.name}}} -->
            {% for blog in blogs%}
                <article class="article">
                    <h2><a href="#0"><b>{{blog.name}}</b></a></h2> {% load poll_extras%}
                    <p class="small text-secondary">发表于{{ blog.created_at|datetime }}</p>
                    <p class="text-secondary">{{blog.content}}</p>
                    <p><a href="/blog/{{blog.id}}">继续阅读<i class="uk-icon-angle-double-right"></i></a></p>
                </article>
                <hr class="article-divider">
                {%empty%}
                <h2>暂无通知</h2>
                {%endfor%}
            {%endblock%}
        </div>
    </div>
    {%block vuejs%}
    <script type="text/javascript">
    
        var vm = new Vue({
            el: '#app',
            data: {
                email: '{{request.user.email}}',
                name: '{{request.user.name}}',
                sex: '{{request.user.sex}}',
                birthday: '{{request.user.birthday}}',
                company: '{{request.user.company}}',
                job_time: '{{request.user.job_time}}',
                xue_li: '{{request.user.xue_li}}',
                school: '{{request.user.school}}',
                phone: '{{request.user.phone}}',
            },
            methods: {
                submit: function(event){
                    data_to_send = {
                        name: this.name,
                        sex: this.sex,
                        birthday: this.birthday,
                        company: this.company,
                        job_time: this.job_time,
                        xue_li: this.xue_li,
                        school: this.school,
                        phone: this.phone,
                    };
                    console.log(data_to_send);
                    data_to_send = JSON.stringify(data_to_send);
                    console.log(data_to_send);
                    $.post('/accounts/profile/',
                    data_to_send,
                    function(r,err){
                        if(err === 'success'){
                            alert('修改已保存')
                            return location.assign('/');
                        }else{
                            return console.log(err);
                        }
                    })
                }
            }
        });
    </script>
    {%endblock%}
</body>

</html>